/* Header personalizado */
.custom-header {
  position: fixed; /* Fijo para que quede visible siempre */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  z-index: 10; /* Asegura que quede encima del video */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px; /* Espaciado interno */
  background: rgba(0, 0, 0, 0.3); /* Oscurece el video */
  color: #FFFFFF; /* Texto blanco para contraste */
  font-family: 'Montserrat', sans-serif; /* Fuente personalizada */
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Logo 1/3, botones 2/3, vacío 3/3 */
  align-items: center; /* Alinea los elementos verticalmente */
  width: 100%;
  padding: 10px 20px; /* Ajusta el espaciado interno */
}

.logo {
  text-align: left; /* Alinea el logo a la izquierda de su espacio */
  font-size: 1.5rem;
  font-weight: bold;
  color: #E63946;
}
.logo p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
}
.nav-links {
  display: flex;
  justify-content: initial; /* Alinea los botones a la izquierda */
  gap: 20px; /* Espaciado entre botones */
  list-style: none;
}

.nav-links li a {
  color: #ffffff; /* Blanco para los enlaces */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.social-icons {
  display: flex;
  gap: 15px; /* Espaciado entre íconos */
}

.social-icons a {
  color: #ffffff; /* Color blanco por defecto */
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6b6b; /* Cambia a rojo vibrante al pasar el mouse */
}

.nav-links li a:hover {
  color: #FFD700; /* Cambia a rojo vibrante al pasar el mouse */
}

@media (max-width: 768px) {
  .custom-header {
    padding: 10px 20px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-links li a {
    font-size: 0.9rem;
  }
}
